{% extends 'blank_layout.html' %}
{% load static %}
{% load multiply %}
{% load cart_subtotal %}
<!-- block content -->
{% block content %}

<!-- Display error messages -->
{% if messages %}
    {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- Cart items details -->
<div class="small-container cart-page">
    {% if cart and cart.added_items.all %}
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for cart_item in cart.added_items.all %}
        <tr>
            <td>
                <div class="cart-info">
                    <img src="{{cart_item.product.image.url }}">
                    <div>
                        <p>{{cart_item.product.title}}</p>
                        <small>Price: ₹ {{cart_item.product.price}}</small>
                        <br>
                        <a href="{% url 'remove_item_from_cart' cart_item.id %}">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" disabled value="{{cart_item.quantity}}"></td>
            <td>₹ {% multiply cart_item.product.price cart_item.quantity %}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Total price -->
    <div class="total-price">
        <table>
            <!-- <tr>
                <td>Subtotal</td>
                <td>₹ {% cart_subtotal cart %}</td>
            </tr> -->
            
            <tr>
                <td>Total</td>
                <td>₹ {% cart_subtotal cart %}</td>
            </tr>
            <!-- <tr>
                <td>Tax</td>
                <td>₹ {% cart_subtotal cart %}</td>
            </tr> -->
            <tr >
                <td colspan="2"> 
                    <form method="post" enctype="multipart/form-data" action="{% url 'checkout_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="total" value="{% cart_subtotal cart %}">
                        <button class="btn btn-danger " type="submit" >Checkout</button>
                    </form>
                </td>
            </tr>

        </table>
    </div>
    {% else %}
    <div class="empty-cart ">
        <p>Your cart is empty</p>
    </div>
        
    {% endif %}

</div>
{% endblock %}